.comment {
  position: relative;
  padding: 30px 50px 0 80px;
  border-top: 1px solid #eee;

  .author_logo {
    position: absolute;
    left: 10px;
  }

  .cur_author {
    position: absolute;
    color: #00965e;
    font-weight: bold;
    top: 10px;
    width: 100px;
    text-align: center;
    left: -13px;
    font-size: 13px;
  }

  .textarea {
    padding: 10px 15px;
    width: 100%;
    height: 50px;
    font-size: 13px;
    border-radius: 4px;
    resize: none;
    display: inline-block;
    vertical-align: top;
    outline-style: none;
  }

  .write_function_block {
    height: 50px;
    margin-top: 20px;

    :global {
      .ant-btn-primary {
        float: right;
        margin-right: 30px;
      }
      .ant-btn-ghost {
        float: right;
      }
    }
  }
}

.comment_list {
  margin-top: 30px;
  border-top: 1px solid #eee;
  .top_title {
    padding: 20px 0;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid #f0f0f0;
  }
  .item {
    padding: 20px 0 30px;
    border-bottom: 1px solid #f0f0f0;
    .item_header {
      position: relative;
      padding-left: 45px;
      padding-bottom: 10px;
      .author {
        position: absolute;
        left: 0;
        display: inline-block;
        .avator {
          display: inline-block;
          margin-right: 5px;
          width: 38px;
          height: 38px;
          vertical-align: middle;
          img {
            width: 100%;
            height: 100%;
            border: 1px solid #ddd;
            border-radius: 50%;
          }
        }
      }
      .info {
        display: inline-block;
        .name {
          font-size: 15px;
          color: #333;
        }
        .time {
          font-size: 12px;
          color: #969696;
        }
      }
    }
    .comment-detail {
      min-height: 40px;
    }
    .item-comment {
      .like {
        margin-right: 20px;
      }
    }
  }
}
