.comment {
  position: relative;
  padding: 30px 50px 0 80px;
  border-top: 1px solid #eee;

  .author_logo {
    position: absolute;
    left: 10px;
  }

  .cur_author {
    position: absolute;
    color: #00965e;
    font-weight: bold;
    top: 10px;
    width: 100px;
    text-align: center;
    left: -13px;
    font-size: 13px;
  }

  .textarea {
    padding: 10px 15px;
    width: 100%;
    height: 50px;
    font-size: 13px;
    border-radius: 4px;
    resize: none;
    display: inline-block;
    vertical-align: top;
    outline-style: none;
  }

  .write_function_block {
    height: 50px;
    margin-top: 20px;

    :global {
      .ant-btn-primary {
        float: right;
        margin-right: 30px;
      }
      .ant-btn-ghost {
        float: right;
      }
    }
  }
}

.comment_list {
  margin-top: 30px;
  border-top: 1px solid #eee;
  .top_title {
    padding: 20px 0;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid #f0f0f0;
  }
  .item {
    padding: 20px 0 30px;
    border-bottom: 1px solid #f0f0f0;
    .item_header {
      position: relative;
      padding-left: 60px;
      padding-bottom: 10px;
      .author {
        position: absolute;
        left: 0;
        display: inline-block;
        .avator {
          display: inline-block;
          margin-right: 5px;
          width: 38px;
          height: 38px;
          vertical-align: middle;

          img {
            width: 100%;
            height: 100%;
            border: 1px solid #ddd;
            border-radius: 50%;
          }

          :global {
            .ant-avatar {
              background-color: #22bcc7;
            }
          }
        }
      }
      .info {
        display: inline-block;
        .name {
          font-size: 15px;
          color: #333;

          .ant_author {
            margin: 0 0 0 4px;
            padding: 0 5px;
            color: #13c2c2;
            line-height: 1.4;
            border-color: #13c2c2;
            border: 1px #13c2c2 solid;
            border-radius: 3px;
            background-color: #ecf5f5;
          }
        }
        .time {
          font-size: 12px;
          color: #969696;
        }
      }
    }
    .comment_detail {
      min-height: 40px;
      margin-top: 10px;
      color: #404040;
      word-break: break-word;
      font-size: 16px;
      padding-left: 60px;

      .ant_info_others {
        font-weight: 400;
        color: #13c2c2;
        font-size: 17px;
        margin-right: 8px;

        .ant_author {
          margin: 0 0 0 4px;
          padding: 0 5px;
          color: #13c2c2;
          line-height: 1.4;
          border-color: #13c2c2;
          border: 1px #13c2c2 solid;
          border-radius: 3px;
          background-color: #ecf5f5;
        }
      }
    }

    .item_other {
      margin: 20px;
      padding: 20px;
      border-left: 2px solid #f0f0f0;
      .item_header {
        position: relative;
        padding-left: 60px;
        padding-bottom: 10px;
        .author {
          position: absolute;
          left: 0;
          display: inline-block;
          .avator {
            display: inline-block;
            margin-right: 5px;
            width: 38px;
            height: 38px;
            vertical-align: middle;
            img {
              width: 100%;
              height: 100%;
              border: 1px solid #ddd;
              border-radius: 50%;
            }
          }
        }
        .info {
          display: inline-block;
          .name {
            font-size: 15px;
            color: #333;
          }
          .time {
            font-size: 12px;
            color: #969696;
          }
        }
      }
      .comment_detail {
        min-height: 40px;
        margin-top: 10px;
        color: #404040;
        word-break: break-word;
        font-size: 16px;
        padding-left: 60px;
        border-bottom: 1px dashed #f0f0f0;
        margin-bottom: 10px;
      }
    }
  }
}
