@base-color: #fff;
.layouts {
  font-family: Georgia, sans-serif;

  .header {
    background: @base-color;
    padding: 0 100px;
    height: 71px;
    margin-bottom: 10px;
  }

  .logo {
    img {
      height: 71px;
    }
  }

  .ant-menu {
    float: left;
  }

  .layouts_second {

    .content {
      padding: 20px;
      background: @base-color;
    }

    .sider {
      background: @base-color;
      width: 100%;
      height: 100%;
      margin-left: 10px;
    }
  }

  .footer {
    // background: @base-color;
    margin-top: 10px;
    border: 1px black solid;
  }
}

