@base-color: #fff;
.layouts {
  font-family: "Segoe UI","Helvetica Neue", Helvetica,Arial,sans-serif;

  .ant-menu {
    float: left;
  }

  .layouts_second {
    margin-top: 2px;
    background-color: @base-color;

    .content {
      padding-bottom: 50px;
      background: @base-color;
      padding-top: 50px;
      padding-left: 10%;
    }

    .sider {
      background: @base-color;
      width: 100% !important;
      max-width: 100% !important;
      height: 100%;
    }
  }

  .footer {
    // background: @base-color;
    text-align: center;
    background: @base-color;
  }
}

